@import url(./reset.css);
@import url(./global.css);

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

/*.wrapper {
    display: flex;
    min-width: 100%;
    position: relative;
    flex-direction: column;
}*/

.header {
    height: auto;
    width: 100%;
}

.header__opening-bg {
    background-color: #F2F2F2;
    height: 69px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.header__opening {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
}

.openning-hours {
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.header__links {
    display: flex;
    column-gap: 20px;
}

.header__link:hover {
    cursor: pointer;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 158px;
}

.logo {
    transform: translateY(-15px);
}

.header__contacts {
    display: flex;
    column-gap: 65px;
    transform: translateY(-15px);    
}

.header__mail:hover {
    cursor: pointer;        
}

.header__call:hover {
    cursor: pointer; 
}

.contacts__link {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.contacts__img-bg{
    width: 68px;
    height: 68px;
    border-radius: 50px;
    background-color: #FFB342;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__titel {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.contacts__item {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.header__nav {
    display: flex;
    height: 88px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFB342;
    position: absolute;
    width: 97.67%;
    transform: translateY(-30px);
    z-index: 2;
}

.nav__links {
    display: flex;
    column-gap: 50px;   
    padding-left: 45px ; 
}

.nav__link a{
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #222222;  
}

.nav__link.active a {
    color: white;
}

.nav__btn {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #F4F4F4;
    background-color: #1C2752;
    margin-right: 10px;
    padding: 19px 42px;
}

.nav__btn:hover {
    cursor: pointer;
    background-color: #2f3c6e;
    transition: 0.2s;
}

.btn {
    padding: 19px 42px;
    background-color: #FFB342;
    font-size: 20px;    
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #1C2752;
    display: inline-block;
}

.header__content {
    background-image: url(../img/header/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.content__item{
    padding: 260px 0 220px 0;
}

.custom {
    display: flex;
    max-width: 662px;
    padding-left: 20px;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 31px;
}

.custom__text {
    padding-left: 10px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header__titel {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    color: #FFFFFF;
    max-width: 720px;
    padding-bottom: 29px;
}

/*.header__btn {
    background-color: #FFB342;
    font-size: 20px;    
    line-height: 30px;
    letter-spacing: 0.36px;
    color: #1C2752;
    display: inline-block;
}*/

.btn:hover {
    cursor: pointer;
    background-color: #f9c06b;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*main*/

.main {
    flex: 1 1 auto;;
}

/*Section Welcome*/

.welcome {
    padding: 140px 0 140px 0;
}

.welcome__row {
    display: flex;
    column-gap: 50px;
}

.welcome__img {
    height: 575px;
    height: 581px;

}

.welcome__content {
    padding: 11px 0;
}

.icon__block {
    display: inline-block;
}

.icon__row {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon__row-gray {
    background-color: #F4F4F4;
}

.icon__text {
    padding-right: 20px;
}

.content__icon {
    padding-left: 20px;
}

.titel h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.conntent__titel {
    padding: 22px 0 12px 0;
}

.content__text p{
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-bottom: 10px;
}

.content__experience {
    display: flex;
    padding-top: 10px;
    column-gap: 40px;
}

.experience__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 16px;
    width: 198px;
    height: 220px;
    background-color: #F4F4F4;
}
.experience__number {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 110%;
    text-align: center;
    padding-top: 24px;
    letter-spacing: 0.36px;
    color: #FFB342;
}

.experience__text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752;
    max-width: 112px;
}

.experience__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 17.5px;
}

.experience__item {
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.experience__item li::before {
    content: '-';
    padding-right: 5px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Section main-service*/

.main-service {
    position: relative;
    
}
.main-service-orange {
    background-color: #FFB342;
}

.main-service__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0 470px 0;
}


.icon__row-white {
    background-color: white;
}

.main-service__titel {
    padding: 22px 0 12px 0;
}

.main-service__subtitel {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.36px;
    color: #1C2752;
    max-width: 832px;
    padding-bottom: 38px;
}

.main-service__buttons {
    display: flex;
    column-gap: 30px;
}

.main-service__btn {
    padding: 17px 41px;
    border: 1px solid black;
}

.main-service__btn.active {
    padding: 16px 41px;
    background-color: white;
    border: 1px solid #FFB342;
}

.main-service__btn:hover {
    cursor: pointer;
}

.btn__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.btn__text {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #222222;
}

.electric {
    display: flex;
    padding: 60px;
    margin: 0 20px;
    column-gap: 60px;
    position: absolute;
    background-color: white;
    z-index: 2;
    top: -431px;    
}

.electric__block {
    max-width: 560px;
}

.icon__block {
    padding-bottom: 22px;
}

.electric__titel {
    padding-bottom: 12px;
}

.electric__subtitel p {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-bottom: 10px;
}

.electric__btn {
    margin-top: 20px;
}

.electric__img {
    max-width: 416px;
    max-height: 366px;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Services*/

.services {
    background-color: #F4F4F4;
}

.services__block {
    padding: 240px 0 140px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.services__titel {
    padding-bottom: 12px;
}

.services__subtitle {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    max-width: 815px;
    padding-bottom: 50px;
}

.services__cards {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__card {
    background-color: #1C2752;
    padding: 50px 46px 50px 35px;
    display: flex;
    flex-direction: column;
}

.card__icon {
    padding-bottom: 20px;
}

.card__titel {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFB342;
    padding-bottom: 15px;
}

.card__text {
    max-width: 299px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #D2D2D2;
    padding-bottom: 22px;
    flex: 1 1 100%;
}

.card__link {
    ont-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #FFFFFF;    
}

.card__link:hover{
    cursor: pointer;
    color: #D2D2D2;
    transition: 0.2s;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Reasons*/

.reasons__block {
    display: flex;
    column-gap: 70px;
    justify-content: center;
}

.reasons__img {
    max-width: 720px;
    max-height: 848px;
    position: relative;
}

.reasons__statistic {
    position: absolute;
    top: 140px;
    left: 80px;
    padding: 100px 80px 124px 80px;
    background-color: rgba(28, 39, 82, 0.86);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.statistic__block {
    display: flex;
}

.statistic__numbers {
    width: 110px;
    padding: 16px 0 16px 21px;
    background-color: #FFB342;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: 0.36px;
    color: #1C2752;
    
}

.statistic__text {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    width: 290px;
    padding: 16px 0 16px 20px;
    border: 2px solid white;
    border-left: none;
}

.reasons__content {
    padding-top: 93px;
    max-width: 575px;
}

.reasons__title {
    padding-bottom: 11px;
}

.reasons__subtitel {
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-bottom: 37px;
}

.list__titel {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.36px;
    color: #1C2752;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

.list__titel::before {
    content: '';
    background-image: url('..//img/reasons/done.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    background-color: #FFB342;
    border-radius: 100%;
    display: inline-block;
    margin-right: 20px;
    
}

.list__text {
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-bottom: 32px;
    padding-left: 52px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Gallery*/

.gallery {
    background-color: #1C2752;
}

.container__gallery {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.gallery__block {
    padding: 140px 20px 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__titel h2 {
   padding-bottom: 50px;
   color: white;
}


.gallery__cards {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.gallery__card {
    padding: 21px 21px 26px 21px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.gallery__card__img  img{
    max-width: 278px;
    max-height: 334px;
    padding-bottom: 27px;
}

.gallery__card__titel {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 25px;
    line-height:150%;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #1C2752;
    padding: 4px;
    flex: 1 0 auto;
}

.gallery__card__subtitel {
    font-size: 17px;
    line-height: 159%;
    text-align: center;
    letter-spacing: 0.36px; 
    color: #7E7E7E;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Clients*/

.clients {
    padding-top: 140px;
}

.clients__block {
    display: flex;
    column-gap: 45px;   
}

.cutomers__block {
    flex: 0 0 50%;
}


.customers__titel {
    padding-bottom: 40px;
}

.customers__says {
    padding: 41px;
    border: 1px solid #DCDCDC;
    margin-bottom: 40px;
}

.customer__account {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

.customer__account::after {
    content: '';
    background-image: url('../img/customers/quotes.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: ;
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFB342;
    right: 0;
    top:0;
}

.customer__foto {
    padding-bottom: 21px;
}

.customer__name {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.customer__city {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
}

.line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #DCDCDC;
    margin-bottom: 20px;
}

.customer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-bottom: 23px;
}

.customer__buttons {
    display: flex;
    column-gap: 21px;
}

.customer__btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer__btn:hover{ 
    cursor: pointer;
    background-color: #dddbdb;
    transition: 0.2s;
}

.customers__question {
    padding: 50px 40px;
    background-color: #FFB342;
}


.question__titel {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.36px;
    color: #1C2752;
    padding-bottom: 13px;
}

.question__text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #1C2752;
    padding-bottom: 17px;
}

.question__call a{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    padding-left: 70px;
}

.question__call {
    position: relative;   
}

.question__call::before {
    content: '';
    background-image: url('../img/customers/call.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;  
}

.appointment__block {
    padding-bottom: 90px;
}
.appointment__titel {
    padding-bottom: 40px;
}
.appointment__form {
    display: flex;
    flex-direction: column;
    padding: 70px 40px 75px 40px;
    background-color: #F4F4F4;
    gap: 25px;
}

.appointment::placeholder{
    font-weight: 400;
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    color: #1C2752;
}

.appointment{
    padding: 19px 0 19px 44px;
}

.appointment__btn {
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    color: #1C2752;
    padding: 20px 211px;
    background-color: #FFB342;
}

.appointment__btn:hover{
    background-color: #f9c06b;
}

.clients .icon__block{
    display: flex;
    justify-content: center;
}

.clients__titel {
    text-align: center;
    padding-bottom: 44px;
}
.clients__logo {
    display: flex;
    justify-content: space-around;   
    padding-bottom: 140px; 
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Prices*/

.prices {
    background-color: #F4F4F4;
    padding-top: 140px;
}

.price__header {
    display: flex;
    column-gap: 111px;
}

.price__titel {
    max-width: 497px;
    flex: 0 1 50%;
    padding-bottom: 60px;
}


.price__text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    flex: 0 1 50%;
}

.price__cards {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    padding-bottom: 62px;
}

.price__card {
    padding: 40px 40px 50px 40px;
    background-color: white;
}

.price__card__titel {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.4px;
    color: #1C2752;    
    padding-bottom: 7px; 
}

.price__block {
    display: flex;
    gap: 42px;
    padding-bottom: 38px;    
}

.price__cost {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.36px;
    color: #1C2752;
    
}

.price__visit {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.32px;
    color: #7E7E7E;
    display: flex;
    align-items: flex-end;
}

.line {
    margin-bottom: 30px;
}

.price__items li{
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #7E7E7E;
    padding-bottom:20px;
    list-style-image: url('../img/price/mini-done.svg');
    list-style-position: inside;
    
    
}

.price__items li:last-child{
    padding-bottom: 55px;
    
}

.price__btn {
    text-align: center;
    padding: 19px 106px;
    background-color: #FFB342;
}

.price__btn:hover {
    cursor: pointer;
    background-color: #f9c06b;
}

.price__extra {
    display: flex;
    column-gap: 30px;
}

.extra__block {
    flex: 0 1 50%;
}

.extra__block::before {
    content: '';
    background-image: url('../img/price/done.svg');
    background-repeat: no-repeat;    
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFB342;
    background-position: center;
    
}

.extra__titel {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.36px;
    color: #1C2752;
    padding-bottom: 9px;
}

.extra__text {
    font-size: 17px;
    line-height: 159%;
    letter-spacing: 0.36px;
    color: #7E7E7E;
    padding-bottom: 128px;
}

.footer {
}